body {
    font-family: Arial, sans-serif; /* Mengatur jenis font untuk teks di body */
    margin: 0; /* Menghapus margin agar elemen body tidak memiliki ruang kosong di pinggir halaman */
    padding: 20px; /* Memberikan padding ke body untuk memberi ruang di sekitar konten */
    background-color: #f4f4f4; /* Memberikan warna latar belakang untuk body */
}

h1, h2 {
    text-align: center; /* Mengatur teks heading (h1, h2) menjadi rata tengah */
    color: #333; /* Mengatur warna teks untuk heading */
}

form {
    background: #fff; /* Memberikan warna latar belakang untuk form */
    padding: 20px; /* Memberikan padding ke form untuk memberi ruang di sekitar konten */
    margin: 0 auto; /* Mengatur form agar berada di tengah halaman */
    border-radius: 8px; /* Memberikan sudut lengkung pada form */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Memberikan bayangan pada form */
    max-width: 400px; /* Membatasi lebar maksimum form */
}

label {
    display: block; /* Mengatur label menjadi blok agar muncul satu per baris */
    margin-bottom: 8px; /* Memberikan ruang di bawah label */
    font-weight: bold; /* Mengatur tebal font untuk label */
}

input[type="text"],
input[type="number"],
select {
    width: 100%; /* Mengatur input text, input number, dan select agar memenuhi lebar form */
    padding: 8px; /* Memberikan padding ke input */
    margin-bottom: 20px; /* Memberikan ruang di bawah input */
    border: 1px solid #ccc; /* Memberikan border dengan warna abu-abu */
    border-radius: 4px; /* Memberikan sudut lengkung pada input */
}

input[type="submit"],
button {
    width: 100%; /* Mengatur tombol submit dan tombol agar memenuhi lebar form */
    padding: 10px; /* Memberikan padding ke tombol */
    background-color: #5cb85c; /* Memberikan warna latar belakang untuk tombol */
    border: none; /* Menghapus border pada tombol */
    border-radius: 4px; /* Memberikan sudut lengkung pada tombol */
    color: white; /* Mengatur warna teks pada tombol */
    font-weight: bold; /* Mengatur tebal font pada tombol */
    cursor: pointer; /* Mengubah kursor menjadi pointer saat diarahkan ke tombol */
}

input[type="submit"]:hover,
button:hover {
    background-color: #4cae4c; /* Mengubah warna latar belakang tombol saat dihover */
}

.course {
    margin-bottom: 20px; /* Memberikan ruang di bawah setiap input mata kuliah */
}
