/* Reset margin and padding */
body, h1, p, form, input, button {
    margin: 0; /* Mengatur margin menjadi 0 */
    padding: 0; /* Mengatur padding menjadi 0 */
    box-sizing: border-box; /* Menggunakan box-sizing untuk menghitung ukuran elemen dengan baik */
}

/* Body styling */
body {
    font-family: 'Montserrat', sans-serif; /* Mengatur jenis font */
    background: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%); /* Memberikan background linear gradient */
    display: flex; /* Menggunakan flexbox untuk tata letak */
    flex-direction: column; /* Menjadikan flex direction menjadi column */
    justify-content: center; /* Memposisikan konten di tengah secara vertikal */
    align-items: center; /* Memposisikan konten di tengah secara horizontal */
    height: 100vh; /* Mengatur tinggi menjadi 100% dari viewport */
    margin: 0; /* Mengatur margin menjadi 0 */
    color: #333; /* Mengatur warna teks */
}

/* Container styling */
.container {
    text-align: center; /* Memposisikan teks di tengah */
    background: rgba(255, 255, 255, 0.8); /* Memberikan latar belakang semi-transparan */
    padding: 20px; /* Memberikan padding */
    border-radius: 10px; /* Memberikan sudut border-radius */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Menambahkan bayangan */
    max-width: 400px; /* Mengatur lebar maksimum */
    width: 100%; /* Mengatur lebar menjadi 100% */
}

/* Header styling */
.header h1 {
    font-size: 2em; /* Mengatur ukuran font */
    margin-bottom: 10px; /* Memberikan margin bawah */
}

.header p {
    font-size: 1em; /* Mengatur ukuran font */
    color: #666; /* Mengatur warna teks */
    margin-bottom: 20px; /* Memberikan margin bawah */
}

/* Form container styling */
.form-container form {
    display: flex; /* Menggunakan flexbox */
    flex-direction: column; /* Menjadikan flex direction menjadi column */
    align-items: center; /* Memposisikan item di tengah secara horizontal */
}

.form-container label {
    font-size: 1em; /* Mengatur ukuran font */
    margin-bottom: 10px; /* Memberikan margin bawah */
}

.form-container input {
    padding: 10px; /* Memberikan padding */
    margin-bottom: 20px; /* Memberikan margin bawah */
    border: 1px solid #ddd; /* Memberikan border */
    border-radius: 5px; /* Memberikan sudut border-radius */
    width: calc(100% - 22px); /* Mengatur lebar input */
}

.form-container button {
    background-color: #ffcc00; /* Memberikan warna latar belakang */
    color: #fff; /* Memberikan warna teks */
    padding: 10px 20px; /* Memberikan padding */
    border: none; /* Menghapus border */
    border-radius: 5px; /* Memberikan sudut border-radius */
    font-size: 1em; /* Mengatur ukuran font */
    cursor: pointer; /* Mengubah kursor menjadi pointer */
    transition: background-color 0.3s ease; /* Efek transisi saat hover */
}

.form-container button:hover {
    background-color: #ffb800; /* Mengubah warna latar belakang saat hover */
}

/* Triangle container styling */
.triangle-container {
    text-align: center; /* Memposisikan teks di tengah */
    margin-top: 20px; /* Memberikan margin atas */
    font-family: 'Courier New', monospace; /* Mengatur jenis font */
}

.triangle-content pre {
    font-size: 1em; /* Mengatur ukuran font */
    line-height: 1.2em; /* Mengatur line height */
}

.star {
    color: #ffcc00; /* Mengatur warna bintang */
}
